* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 10px;
 
}

h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
}

.description {
  position: relative;
  background-color:#E4DFDA;
  border:black solid 1px;
  margin: 15px;

}

.section_title {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  border: black solid 1px;
}

#section_title-1 {
  background:#C1666B;
}

#section_title-2 {
  background: cadetblue;
}

#section_title-3 {
  background: #a1e5a3;);
}

p {
  width: 95%;
  font-size: 15px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

@media (min-width: 992px) {
  .description {
    width: 30%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .description1,
  .description2 {
    width: 46%;
    float: left;
  }
  .description3 {
    float: left;
    width: 95%;
  }
}
